@font-face {
  font-family: 'myFont';
  src: url('./my-font1.ttf') format('truetype'),
   url('./my-font2.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
.hello {
  color: red;
  font-family: 'myFont';
  background: url('./icon.png');
}
